.visits.edit
  %h2 Update Visit

  = form_for(:visit, url: {action: 'update', id: @visit.id}) do |f|

    %table{summary: "Visit form fields"}
      %tr
        %th Dately:
        %td= f.date_field(:date, id: 'date')
      %tr
        %td
          %th Time of Day:
          %td
            = f.time_field(:time_of_visit)
      %tr
        %td
          %th Duration of Visit:
          %td= f.text_field(:time_spent)
      %tr
        %th Location
        %td= f.collection_select(:location_id, Location.all, :id, :name)
      %tr
        %th Community
        %td= f.text_area(:community)
      %tr
        %th Work
        %td= f.text_area(:work)
      %tr
        %th Comments
        %td= f.text_area(:comments)

    .form.buttons
      = submit_tag("Update Visit")
