.subjects.index
  %h2 Manage Visits
  = link_to("Add New Vist", {action: 'new'}, class: 'action new')

  %table.listing{summary: "Visit list"}
    %tr.header
      %th Date
      %th Location
      %th Community
      %th Work
      %th Comments

    - @visits.each do |visit|
      %tr
        %td= visit.date
        %td= visit.location.try(:name )
        %td= visit.community
        %td= visit.work
        %td= visit.comments

        %td.actions
          = link_to("Show", {action: 'show', id: visit.id}, class: "action show")
          = link_to("Edit", {action: 'edit', :id => visit.id}, class: "action edit")
          = link_to("Delete", {action: 'delete', id: visit.id}, class: "action delete")
