= form_for(:visit, url: {action: 'create'}) do |f|
  %h1 Add a New OHOF Visit

  %h2 Location
  .row
    .col-md-4
      %label Select a Location:
      = f.collection_select :location_id, Location.all, :id, :name  

    .col-md-8
      %p
        %em
          New location not on the list?
      %p= link_to("Add a New Location", location_new_path, class: 'btn btn-primary')

  %h2 Visit Details
  %p
    %label{for: 'date'} Date of Visit:
    = f.date_field(:date, id: 'date')

  %p
    %label{for: 'time_of_day'} Time of Day:
    = f.time_field(:time_of_visit, :max => "23:30", :min => "05:30", :step => "00:30")

  %p
    %label{for: 'time_spent'} Duration of Visit:
    = f.text_field(:time_spent)

  %p
    %label{for: 'community'} Community: who did you talk to?
    %br
    = f.text_area(:community)

  %p
    %label{for: 'work'} Work: what did you do?
    %br
    = f.text_area(:work)

  %p
    %label{for: 'comments'} Comments
    %br
    = f.text_area(:comments)


  %br
  .form.buttons
    = submit_tag("New Visit", class: "btn btn-primary btn-lg")
