= link_to("<< Back to Home", '/', class: 'back link')

%h1 Add a New OHOF Visit

%h2 Location
%ul
  %li Add a New Location
  %li Use an existing Location

%h2 Visit Details
= form_for(:visit, url: {action: 'create'}) do |f|
  %ul
    %li
      date
      %br
      = f.date_field(:date, id: 'date')

    %li
      community
      %br
      %td= f.text_area(:community)
    %li
      work
      %br
      %td= f.text_area(:work)
    %li
      Comments
      %br
      %td= f.text_area(:comments)


    %br
    .form.buttons
      = submit_tag("New Visit")
