= link_to("<< Back to List", {action: 'index'}, class: 'back link')

.subjects.show
  %h2 Visit Details

  %table{summary: 'Visit detail view'}
    %tr
      %th Date
      %td= @visit.date
    %tr
      %th Location
      %td= @visit.location.try("name")
    %tr
      %th Community Interaction
      %td= @visit.community
    %tr
      %th Work Completed
      %td= @visit.work
    %tr
      %th Other Comments
      %td= @visit.comments
