%table{:summary => "Section form fields"}
  %tr
    %th Page ID
    %td= f.text_field(:page_id)
  %tr
    %th Name
    %td= f.text_field(:name)
  %tr
    %th Position
    %td= f.text_field(:position)
  %tr
    %th Visible
    %td= f.text_field(:visible)
  %tr
    %th Content Type
    %td= f.text_field(:content_type)
  %tr
    %th Content
    %td= f.text_field(:content)
