%table{:summary => "Page form fields"}
  %tr
    %th= f.label(:subject_id, "Subject")
    %td= f.select(:subject_id, @subjects.map {|s| [s.name, s.id]})
  %tr
    %th= f.label(:name, "Name")
    %td= f.text_field(:name)
  %tr
    %th= f.label(:permalink)
    %td= f.text_field(:permalink)
  %tr
    %th= f.label(:position)
    %td= f.select(:position, 1..@page_count)
  %tr
    %th= f.label(:visible)
    %td= f.text_field(:visible)
