= link_to("<< Back to List", {action: 'index'}, class: 'back link')

.locations.edit
  %h2 Update Location

  = form_for(:location, url: {action: 'update', id: @location.id}) do |f|

    %table{summary: "Location form fields"}
      %tr
        %th Name
        %td= f.text_field(:name)
      %tr
        %th Position
        %td= f.text_field(:position )
      %tr
        %th Specific location
        %td= f.text_field(:sub_location)
      %tr
        %th Location Category
        %td= f.text_field(:category)
      %tr
        %th WiFi or Internet?
        %td= f.check_box(:wifi)
      %tr
        %th Power Supply?
        %td= f.check_box(:power)
      %tr
        %th Coffee?
        %td= f.check_box(:coffee)
      %tr
        %th Food?
        %td= f.check_box(:food)

    .form.buttons
      = submit_tag("Update Location")
