%ul
  %li
    = link_to("Home", '/')
  %li
    = link_to("Visits", visit_index_path)
  %li
    = link_to("Locations", location_index_path)
%br

= link_to("<< Back to List", {action: 'index'}, class: 'back link')

.locations.new
  %h2 Create New Location

  = form_for(:location, url: {action: 'create'}) do |f|

    %table{summary: "Location form fields"}
      %tr
        %th Name
        %td= f.text_field(:name)
      %tr
        %th Specific location
        %td= f.text_field(:sub_location)
      %tr
        %th Location Category
        %td= f.text_field(:category)
      %tr
        %th WiFi or Internet?
        %td= f.check_box(:wifi)
      %tr
        %th WiFi Password
        %td= f.text_field(:wifi_password)
      %tr
        %th Power Supply?
        %td= f.check_box(:power)
      %tr
        %th Coffee?
        %td= f.check_box(:coffee)
      %tr
        %th Food?
        %td= f.check_box(:food)
      %tr
        %th Food &amp; Coffee Comments
        %td= f.text_field(:food_detail)
      %tr
        %th Additional Location Comments
        %td= f.text_area(:comments)

    .form.buttons
      = submit_tag("Create Location")
