.logo
  = link_to('/') do
    = image_tag("logo-ohof.png")

%ul.nav.nav-pills
  %li= link_to("Add New Visit", visits_new_path, role: "presentation")
  %li= link_to("Add New Location", locations_new_path, role: "presentation")
  %li= link_to("Manage Visits", visits_path, role: "presentation")
  %li= link_to("Manage Locations", locations_path, role: "presentation")
