!!! 5
%html{ lang: "en"}
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "Out of Home Office Tacoma", name: "description"}/
    %meta{ content: "Tacoma | Home Office | coffee shop", :name => "keywords"}/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title
      Out of Home Office (Tacoma) |
      = @page_title
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', type: "text/javascript"
    = csrf_meta_tags

  %body
    .container-fluid
      %header
        .logo
        %nav
          %ul.nav.nav-pills
            %li= link_to("OHOF (Tacoma)", '/', role: "presentation", class: "btn-primary")
            %li= link_to("New Visit", visit_new_path, role: "presentation", class: "btn-primary")
            %li= link_to("New Location", location_new_path, role: "presentation", class: "btn-primary")
            %li= link_to("Manage Visits", visit_index_path, role: "presentation", class: "btn-primary")
            %li= link_to("Manage Locations", location_index_path, role: "presentation", class: "btn-primary")
      %section
        = yield
      %footer
        copyright | Monkeyhouse Media | All Rights Reserved
