!!! 5
%html{ lang: "en"}
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "Out of Home Office Tacoma", name: "description"}/
    %meta{ content: "Tacoma | Home Office | coffee shop", :name => "keywords"}/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title Out of Home Office: Tacoma
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', type: "text/javascript"
    = csrf_meta_tags

  %body
    %header
      .logo
        OHOF (Tacoma)
      %nav
        %ul
          %li= link_to("Home", '/')
          %li= link_to("Visits", visit_index_path)
          %li= link_to("Locations", location_index_path)
    %section
      = yield
    %footer
      copyright | Monkeyhouse Media | All Rights Reserved
