!!! 5
%html{ lang: "en"}
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "Out of Home Office Tacoma", name: "description"}/
    %meta{ content: "Tacoma | Home Office | coffee shop", :name => "keywords"}/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

    %title
      Out of Home Office (Tacoma) |
      = @page_title
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', type: "text/javascript"
    = csrf_meta_tags

  %body
    .container-fluid
      %header
        .logo
        %nav
          = render partial: "layouts/nav"
      %section
        = yield
      %footer
        = render partial: "layouts/footer"
